.is-h2,
h2,
.is-h3,
h3 {
  @apply font-headline text-headline;
}

/* .rich-text {
  & h2 {
    @apply mb-4 flex flex-wrap justify-between text-4xl md:text-5xl md:leading-tight lg:mb-8 lg:text-6xl;

    & .h2-text {
      @apply block w-full flex-shrink-0 flex-grow text-justify;

      flex-basis: 40%;
      white-space: nowrap;
    }

    & .h2-divider {
      @apply my-6 inline-block h-2 flex-shrink flex-grow-0 bg-headline;

      max-width: 50%;
      width: 100%;
    }
  }
} */
